
.todo-checkbox {
  margin-right: 1rem;
}

.todo-title {
  display: inline-block;
  margin-right: 1rem;
  font-size: 2rem;
  min-width: 25rem;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}